<header id="header" class="header d-flex align-items-center fixed-top">
  <div class="header-container container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

    <a href="index.html" class="logo d-flex align-items-center me-auto me-xl-0">
      <h1 class="sitename"><img src="assets/img/logo.jpeg" alt="HK Energieberatung Logo" class="img-fluid"></h1>
    </a>

    <nav id="navmenu" class="navmenu">
      <ul>
        <li><a href="index.html#hero" data-page="index.html#hero">ENERGIEBERATUNG</a></li>
        <li><a href="index.html#about" data-page="index.html#about">ÜBER UNS</a></li>
        <li class="dropdown"><a href="#" data-page="standorte"><span>STANDORTE</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
          <ul>
            <li><a href="index.html#contact">Standort Bremen</a></li>
            <li><a href="energieberatung-aurich.html" data-page="energieberatung-aurich.html">Standort Aurich</a></li>
          </ul>
        </li>
        <li><a href="expressausweis.html" data-page="expressausweis.html">EXPRESSAUSWEIS (48H)</a></li>
        <li><a href="index.html#features" data-page="index.html#features">FÖRDERUNGEN</a></li>
        <li class="dropdown"><a href="index.html#services" data-page="index.html#services"><span>LEISTUNGEN</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
          <ul>
            <li><a href="expressausweis.html">Express Verbrauchsausweis (48h)</a></li>
            <li><a href="index.html#services">Energieausweise</a></li>
            <li><a href="index.html#services">Hydraulischer Abgleich</a></li>
            <li><a href="index.html#services">Einzelmaßnahmen (BAFA)</a></li>
            <li><a href="index.html#services">KfW Kreditanträge</a></li>
          </ul>
        </li>
        <li><a href="mediathek.html" data-page="mediathek.html">MEDIATHEK</a></li>
        <li><a href="index.html#contact" data-page="index.html#contact">KONTAKT</a></li>
      </ul>
      <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
    </nav>

    <a class="btn-getstarted" href="index.html#contact">Jetzt Starten</a>

  </div>
</header>
