# SMTP Configuration Template for HK Energieberatung Form Mailer
MAIL_MAILER=smtp
MAIL_HOST=gienah.uberspace.de
MAIL_PORT=465
MAIL_USERNAME=hallo@masrisystems.com
MAIL_PASSWORD=your_password_here
MAIL_ENCRYPTION=ssl
MAIL_FROM_ADDRESS="hallo@masrisystems.com"
MAIL_FROM_NAME="HK Energieberatung"
MAIL_TO_ADDRESS="info@hk-energieberatung.de"
